<div
    class="login-container"
    layout="column"
    layout-align="center center"
    layout-fill>

  <div class="login-box md-whiteframe-z2">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 translate>LOGIN.TITLE</h2>
      </div>
    </md-toolbar>

    <form name="login.form" form-submit="login.submit()">
      <md-content layout="column" layout-padding>

        <busy-spinner ng-if="login.busy"></busy-spinner>

        <md-input-container>
          <label translate>LOGIN.EMAIL</label>
          <input name="email" type="email" ng-model="login.email" required>
          <form-error name="email"></form-error>
        </md-input-container>

        <md-input-container>
          <label translate>LOGIN.PASSWORD</label>
          <input name="password" type="password" ng-model="login.password" required>
          <form-error name="password"></form-error>
        </md-input-container>

        <md-button type="submit" class="md-raised md-primary">
          <span translate>LOGIN.SUBMIT</span>
        </md-button>
      </md-content>
    </form>
  </div>

</div>
